{% extends "layout.html" %}
{% block body %} 
<body>
  <main class="main pt-4" style="min-height:100vh">

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <article class="card mb-4">
            <header class="card-header text-center">
              <figure class="text-center py-3">
                <h1 class="display-5">Get in touch</h1>
            </figure>
            <hr>
            </header>
            <div class="card-body">

              <p><strong>Your questions and comments are important to us. We've got everything covered for your needs</strong></p>

              <p>If you require any further information, please feel free to reach out to us.</p>

              <form name="sentMessage" id="contactForm" action = "/contact" method="POST" novalidate enctype="multipart/form-data">
                <br>
                  <div class="form-floating ">
                    <input type="text" class="form-control form-control-lg" name="name" id="Name" placeholder="Name" >
                    <label for="name">Name</label>
                  </div>
                  <br>
                  <div class="form-floating ">
                    <input type="text" class="form-control form-control-lg" id="email" name="email_adres" placeholder="email" >
                    <label for="email">Email</label>
                  </div>
                  <br>
                  <div class="form-floating ">
                    <textarea row="8" type="text" class="form-control form-control-lg" id="msg" name="msg" placeholder="What can we help you with?" ></textarea>
                    <label for="msg">What can we help you with?</label>
                  </div>
                  <br>
                  <div id="success"></div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary px-3 py-3 w-100" id="sendMessageButton">Send</button>
                  </div>
              </form>

            </div>
          </article><!-- /.card -->

        </div>
      </div>
    </div>

  </main>
</body>
{% endblock %}
